
/* General UI */
body, html {
	height: 100%;
	width: 100%;
	background: white;
	color: #222;
	font: normal 10pt/16px 'Helvetica Neue', Helvetica, Verdana;
	margin: 0;
	padding: 0;
}

#content {
	width: 480px;
	margin: 24px auto;
}

h1 {
	font: bold 16pt/16px 'Helvetica Neue', Helvetica, Verdana;
	vertical-align: middle;
	margin-bottom: 0;
}
h1 img {
	vertical-align: middle;
}

p {
	margin-top: 0;
}

ul li {
	margin: 8px 0;
}


/* Forms */

form {
	margin-top: 32px;
	margin-left: 16px;
}

table {
	width: 100%;
}

tr {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)"; /* IE 8 */
  filter: alpha(opacity=66);	/* IE 5-7 */
  -moz-opacity:		0.66;		/* Netscape */
  -khtml-opacity:	0.66;		/* Safari 1.x */
  opacity:			0.66;		/* Good browsers */
}
tr.saved {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
  filter: alpha(opacity=100);	/* IE 5-7 */
  -moz-opacity:		1.0;		/* Netscape */
  -khtml-opacity:	1.0;		/* Safari 1.x */
  opacity:			1.0;		/* Good browsers */
}

td {
	padding: 0 4px 24px 2px;
	vertical-align: top;
}
td:first-child {
	padding-left: 3px;
	padding-top: 6px;
}

input, textarea {
	font: normal 10pt/auto Verdana;
	color: #444;
	padding: 6px;
	height: 2em;
	width: 100%;
	background: #f8fbff;

	border: 1px solid #ddd;
	-moz-border-radius: 3px;	/* Firefox */
	-webkit-border-radius: 3px;	/* Safari, Chrome */
	border-radius: 3px;			/* CSS3 */
}
input.error, textarea.error {
	background: #f99;
}

span {
	float: right;
	text-align: right;
}

h1 span {
	margin-right: 16px;
}
h1 span a, h1 span a img {
	font: normal 9pt/9pt 'Helvetica Neue', Helvetica, Verdana;
	outline: none;
}

button {
	margin-bottom: 24px;
	padding: 6px 8px;
	font: bold 10pt/10pt 'Helvetica Neue', Helvetica, Verdana;
	color: #444;
}

#refresh {
	position: relative;
	padding-left: 24px;
}
#refresh img {
	position: absolute;
	left: 6px;
	top: 5px;
}

.crouton {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 6px 12px;
	text-align: center;
	font: bold 12px/12px 'Helvetica Neue', Helvetica, Verdana;
	color: #fff;
	background-color: #bbb;
	display: none;
}
.crouton.red { background-color: #6f6; }
.crouton.green { background-color: #6c6; }
